body{
    background-color: #ededed;
    color: #a5a5a5;
    font-size: 16px;
    font-family: "楷体";
}

*{
    margin: 0;
    padding: 0;
}

/* 标题 */
 
div.hander{
    width: 980px;
    margin: 0 auto 10px;
    height: 86px;
    line-height: 86px;
    text-align: center;
    font-family: "微软雅黑";
}

div.hander h1{
    font-weight: normal;
}

div.hander .s1{
    font-size: 30px;
}

div.hander .s2{
    font-size: 14px;
}

/* 分类 */

#fenlei{
    width: 980px;
    margin: 0 auto;
}

#fenlei h2{
    font-family: "微软雅黑";
    font-size: 14px;
    height: 42px;
    line-height: 42px;
    font-weight: bold;
}

#fenlei p{
    text-align: center;
    line-height: 30px;
    font-size: 18px;
}

/* 热卖 */

div.bestseller{
    width: 602px;
    margin: 0 auto;
}

div.bestseller p{
    text-indent: 2em;
    line-height: 30px;
}

div.bestseller p span{
    text-decoration: underline;
}

/* 页脚 */

div.s3{
    width: 980px;
    margin: 0 auto;
}

div.s3 p{
    text-align: center;
    font-family: "微软雅黑";
    font-weight: bold;
}

div.b1{
    width: 602px;
    margin: 0 auto;
}

div.b1 h3{
    text-align: left;
    font-weight: normal;
    font-family: "微软雅黑";
}

div.b1 p{
    font-style: italic;
    font-size: 14px;
    line-height: 30px;
}









